.body {
  background: url("wembley_blur.jpg") top right no-repeat;
  background-attachment: fixed;
  background-size: cover;

//  position: absolute;
//  top: -20px;
//  left: -20px;
//  right: -40px;
//  bottom: -40px;
//  width: auto;
//  height: auto;
//  z-index: -1;
}
#navbar{
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #8aca8a 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
  background: linear-gradient(135deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.navbar .nav > li > a {
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-brand{
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body{
  overflow-x: hidden;
}