body {
  background: url("wembley_blur.jpg") top right no-repeat;
  background-attachment: fixed;
  background-size: cover;

//  position: absolute;
//  top: -20px;
//  left: -20px;
//  right: -40px;
//  bottom: -40px;
//  width: auto;
//  height: auto;
//  z-index: -1;
}

body{
  overflow-x: hidden;
}